.fundo {
    background-color: #1A1A2E;
}

.lazul {
    color: #00D4FF
}

.fazul {
    background-color: #1565C0;
    padding: 30px;
}

.fverde {
    background-color: #2E7D32;
    margin: 30px;
}

.flaranja {
    background-color: #E65100;
    margin: 20px;
    padding: 20px;
}